<!-- jQuery -->
      {% load static %}     
      <script src="{% static 'assets/plugins/jQuery/jquery-1.12.4.min.js' %}" ></script>
     <!-- Bootstrap proper -->
      <script src="{% static 'assets/bootstrap/js/popper.min.js' %}" ></script>
      <!-- lobicard ui min js -->
      <script src="{% static 'assets/plugins/lobipanel/js/jquery-ui.min.js' %}" ></script>
      <!-- lobicard ui touch-punch-improved js -->
      <script src="{% static 'assets/plugins/lobipanel/js/jquery.ui.touch-punch-improved.js' %}"></script>
      <!-- lobicard tether min js -->
      <script src="{% static 'assets/plugins/lobipanel/js/tether.min.js' %}" ></script>
      <!-- Bootstrap -->
      <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}" ></script>
      <!-- lobicard js -->
      <script src="{% static 'assets/plugins/lobipanel/js/lobicard.js' %}" ></script>
      <!-- lobicard highlight js -->
      <script src="{% static 'assets/plugins/lobipanel/js/highlight.js' %}" ></script>
      <!-- Pace js -->
      <script src="{% static 'assets/plugins/pace/pace.min.js' %}" ></script>
      <!-- NIceScroll -->
      <script src="{% static 'assets/plugins/slimScroll/jquery.nicescroll.min.js' %}" ></script>
      <!-- FastClick -->
      <script src="{% static 'assets/plugins/fastclick/fastclick.min.js' %}" ></script>
      <!-- CRMadmin frame -->
      <script src="{% static 'assets/dist/js/custom.js' %}" ></script>
      <!-- End Core Plugins
         =====================================================================-->
      <!-- Start Page Lavel Plugins
         =====================================================================-->
      <!-- ChartJs JavaScript -->
      <script src="{% static 'assets/plugins/chartJs/Chart.min.js' %}" ></script>
      <!-- Counter js -->
      <script src="{% static 'assets/plugins/counterup/waypoints.js' %}" ></script>
      <script src="{% static 'assets/plugins/counterup/jquery.counterup.min.js' %}" ></script>
      <!-- Monthly js -->
      <script src="{% static 'assets/plugins/monthly/monthly.js' %}" ></script>
      <!-- End Page Lavel Plugins
         =====================================================================-->
      <!-- Start Theme label Script
         =====================================================================-->
      <!-- Dashboard js -->
      <script src="{% static 'assets/dist/js/dashboard.js' %}" ></script>
      <!-- End Theme label Script
         =====================================================================-->