<head>
      {% load static %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>CRM Admin Panel</title>
      <script src="{% static 'assets/plugins/jQuery/jquery-3.5.1.min.js' %}" ></script>
      <!-- Favicon and touch icons -->
      <link rel="shortcut icon" href="{% static 'assets/dist/img/ico/favicon.png' %}" type="image/x-icon">
      <!-- Start Global Mandatory Style================================================================-->
      
      <!-- lobicard tather css -->
      <link rel="stylesheet" href="{% static 'assets/plugins/lobipanel/css/tether.min.css' %}" />
      <!-- Bootstrap -->
      <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
       <!-- lobicard tather css -->
      <link rel="stylesheet" href="{% static 'assets/plugins/lobipanel/css/jquery-ui.min.css' %}" />
      <!-- lobicard min css -->
      <link href="{% static 'assets/plugins/lobipanel/css/lobicard.min.css' %}" rel="stylesheet" />
      <!-- lobicard github css -->
      <link href="{% static 'assets/plugins/lobipanel/css/github.css' %}" rel="stylesheet" />
      <!-- Pace css -->
      <link href="{% static 'assets/plugins/pace/flash.css' %}" rel="stylesheet" />
      <!-- Font Awesome -->
      <link href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
      <!-- Pe-icon -->
      <link href="{% static 'assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />
      <!-- Themify icons -->
      <link href="{% static 'assets/themify-icons/themify-icons.css' %}" rel="stylesheet" />
      <!-- End Global Mandatory Style
         =====================================================================-->
      <!-- Start page Label Plugins 
         =====================================================================-->
      <!-- Emojionearea -->
      <link href="{% static 'assets/plugins/emojionearea/emojionearea.min.css' %}" rel="stylesheet" />
      <!-- Monthly css -->
      <link href="{% static 'assets/plugins/monthly/monthly.css' %}" rel="stylesheet" />
      <!-- End page Label Plugins 
         =====================================================================-->
      <!-- Start Theme Layout Style
         =====================================================================-->
      <!-- Theme style -->
      <link href="{% static 'assets/dist/css/stylecrm.css' %}" rel="stylesheet" />
      <!-- Theme style rtl -->
      <!--<link href="{% static 'assets/dist/css/stylecrm-rtl.css' %}" rel="stylesheet" />-->
      <!-- End Theme Layout Style
         =====================================================================-->
   </head>